<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
    <% 
    var d = new Date(); 
    var h = d.getHours(); 
    var time; 
    
    if (h < 4){time = 'night';}
    else if(h < 11){time = 'morning';}
    else if(h < 17){time = 'afternoon';}
    else{time = 'evening';}

    var ageMs = (d - user.local.birthday);
    var ageYears = Math.floor(ageMs / 31556952000);
    var ageDays = Math.floor((ageMs % 31556952000) / 86400000) ;
    %>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>Have a good <%= time %>, <%= user.local.address %> <%= user.local.name %>.</strong>
                        <strong>You are <%= ageYears %> years and <%= ageDays %> days old today.</strong>
                    </p>

            </div>
        </div>
    </div>
</div>
</body>
</html>